.experience-container{
  background: url("/assets/images/business.jpg");
  background-size: cover;
  background-attachment: fixed;
  .edit-icon-container{
    position: absolute;
    top: 2%;
    right: 40%;
    z-index: 1;
  }
.header {
  font-size: 3rem;
}
.skill-container {
  img {
    width: 50%;
    height: 50%;
  }
}
.card-container {
  padding: 5%;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-height: 315px;
}
.section__button {
  background: transparent;
  border: 1px solid black;
  padding: 10px;
}
}
