<div class="home-container">
  <div class="section">
    <div class="row m-0 p-0">
      <div class="col-md-4 section__info">
        Hi I am Shravankumar Mane I am a Angular Developer at accenture
      </div>
      <div class="col-md-8"></div>
    </div>
    <div class="row m-0 p-0">
      <div class="col-md-4">
        <button (click)="navigate()" class="section__button">
          View More Info
        </button>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="row m-0 p-0">
      <div class="col-md-4 section__interests">
        I Love Football and like to watch it as well as Play a Bit of fifa I am
        pretty good at it, as a finished 7th in Asia pacific region in Fifa 17
      </div>
    </div>
    <div class="row m-0 p-0">
      <div class="col-md-4">

      </div>
    </div>
  </div>
  <div class="section">
    <div class="row m-0 p-0">
      <div class="col-md-12 section__interests__dark">
        I love to travel and explore new places.
        And Unplanned trips are the best
      </div>
      <div class="col-md-12 section__interests dark text-center">
        “We travel not to escape life but for life not to escape us.”
      </div>
    </div>
  </div>
</div>
